body {
    background: rgb(50,50,50);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 99vw;
}

#canvasBorder {
    background: rgb(0,0,54);
    padding: 100px;
    box-shadow: black 20px 10px 50px;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game {
    width: 400px;
    height: 400px;
    box-shadow: black 20px 10px 50px;
}

#scoreDisplay {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    top: 48%;
    position: absolute;
}

#speedDisplay {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    top: 52%;
    position: absolute;
}

#version {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 0%;
}

#title {
    display: flex;
    flex-direction: row;
    font-family: 'Zeyada', cursive;
    font-size: 5vh;

    position: absolute;
    top: 0vh;
}

#snakeTitle {
    color: lime;
    margin-left: 1.5vh;
}

#jankeyTitle {
    color: red;
    margin-right: 1.5vh;
}

.outline1 {
    text-shadow: 3px 3px 7px purple;
}

.outline2 {
    text-shadow: 3px 3px 7px purple;
}

.modeBoxes {
    box-shadow: black 20px 10px 50px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(53, 53, 172);
    color: white;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.8vh;
    border: 0px;
}

.modeSelector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 33.33vh;
    margin: 0.8vh;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.modeBoxes:hover {
    background: orange;
}

.hiddenBox {
    box-shadow: black 20px 10px 50px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(53, 53, 172);
    color: white;
    font-family: 'Silkscreen', sans-serif;
    font-size: 22px;
    border: 0px;
    opacity: 0%;
    margin: 0%;
}

.column {
    width: 33.33%;
    height: 95vh;
    /* max-height: 100%; */
    padding: 0;
    margin: 0;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#middleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* #trueImpossibleButton {
    animation: shake .3s 3; 
} */

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

.aThirdOfHeight {
    height: 33vh;
    width: 100%;
}

#A2 {
    display: flex;
    justify-content: center;
}
